.text-large {
  font-size: $fontSizeLarge;
}

.border-bottom {
  border-bottom: $border;
}

.border-left {
  border-left: $border;
}

.border-right {
  border-right: $border;
}

.border-top {
  border-top: $border;
}

.border {
  border: $border;
}
